
<div ng-controller="SearchController as search" class="search-shows-container">
  <div class="title-content-container center-align">
    <h1 class="show-header">Hello {{search.user.displayName}}</h1>
  </div>

  <div class="search-container">
    <div class="search-area center-align">
      <input placeholder="Add a Show" ng-model="search.query" type="text" id="searchshow" name="search">
      <div class="center-align">
        <button class="waves-effect teal accent-4 waves-light btn" ng-click="search.handleSearch()" type="button" id="search-button"><i class="material-icons right">search</i>Search</button>
      </div>
    </div>

    <div class="search-results-container center-align animate-show-hide" ng-hide="search.resultClicked">
     <div class="search-result" ng-repeat="show in search.results" data-id="{{show.show.id}}">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img class="query-image" src="{{show.show.image.medium}}">
            <!-- <span class="card-title">{{show.show.name}}</span> -->
          </div>
          <div class="card-content">
            <p class="teal-text">{{show.show.name}}</p>
          </div>

          <div class="card-action">
            <button class="add-show-button waves-effect waves-light btn" ng-click="search.addShow(show.show.id)" ng-model="search.resultClicked">Add to List</button>
          </div>


        </div>
      </div>
    </div>

<!--       <div class="search-result" ng-repeat="show in search.results" data-id="{{show.show.id}}">
        <button ng-click="search.addShow(show.show.id)" ng-model="search.resultClicked">{{show.show.name}}</button>
      </div> -->
    </div>

  </div>
  <!-- <div>{{search.selectedShow.name}}</div> -->
  <!-- <button ng-click="search.runningTest()">test</button> -->
</div>

<div class="divider teal accent-4"></div>

<div ng-controller="ShowListController as list" class="shows-container">
  <div class="section shows-section center-align">
    <div class="row">
      <div class="col s12">
        <h3>Your Shows</h3>
        <!-- {{list.comm.test}} -->
        <div class="user-shows-container">
          <div class="card user-card" ng-repeat="show in list.comm.shows track by $index">
            <div class="card-image">
            <img class="result-image" src="{{show.image.medium}}">
            </div>
            <div class="card-content">
              <span class="card-title grey-text text-darken-4"><strong>{{show.name}}</strong></span>
              <p>Network: {{show.network.name}}</p>
              <p>Timezone: {{show.network.country.timezone}}</p>

              <ul>Days:
                <li ng-repeat="day in show.schedule.days track by $index">
                  {{day}}
                </li>
              <p>Time: {{show.schedule.time}}</p>
              <p><a href="{{show.url}}">More Info on TVMaze</a></p>
            </div>
          </div>
        </div>




<!--         <div ng-repeat="show in list.comm.shows track by $index">
          <p>{{show.name}}</p>
        </div> -->

      </div>
    </div>
  </div>
</div>

