
<div ng-controller="SearchController as search" class="search-shows-container">
  <h1>HELLO {{search.user.displayName}}, THESE ARE YOUR SHOWS</h1>
  <h2>SEE BELOW</h2>

  <input ng-model="search.query" type="text" id="searchshow" name="search">
  <button ng-click="search.handleSearch()" type="button" id="search-button">Search</button>
  <div class="search-results-container animate-show-hide" ng-hide="search.resultClicked">
    <div class="search-result" ng-repeat="show in search.results" data-id="{{show.show.id}}">
    <button ng-click="search.addShow(show.show.id)" ng-model="search.resultClicked">{{show.show.name}}</button>
    </div>
  </div>
  <!-- <div>{{search.selectedShow.name}}</div> -->
  <button ng-click="search.runningTest()">test</button>
</div>
<hr>

<div ng-controller="ShowListController as list" class="shows-container">
  {{list.comm.test}}

  <div ng-repeat="show in list.comm.showIds track by $index">
    <p>{{show}}</p>
  </div>

  <div ng-repeat="show in list.comm.shows track by $index">
    <p>{{show.data.name}}</p>
  </div>

</div>

