
<div ng-controller="SearchController as search" class="search-shows-container">
  <h1>HELLO {{search.user.displayName}}, THESE ARE YOUR SHOWS</h1>
  <h2>SEE BELOW</h2>

  <input ng-model="search.query" type="text" id="searchshow" name="search">
  <button ng-click="search.handleSearch()" type="button" id="search-button">Search</button>
  <div class="search-results-container">
    <div class = "search-result" ng-repeat="show in search.results" data-id="{{show.show.id}}">
    <button ng-click="search.addShow(show.show.id)">{{show.show.name}}</button>
    </div>
  </div>
  <div>{{search.selectedShow.name}}</div>
</div>

<div ng-controller="ShowListController as list" class="shows-container">
{{list.test}}
</div>
